{% extends "blogs/layout.html" %}
{%load crispy_forms_tags%}
{% block content %}
<section class="vh-60 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Sign in</h2>
  
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{form | crispy}}
                <!-- this is for the redirect page -->
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                    login</button>
                  </div>
                  
                <p class="text-center  mt-5 mb-0 links-color">Don't have an account? <a href="{% url 'register'%}" class="fw-bold  links-color"><u>register</u></a></p>

                <p class="text-center  mt-1 mb-0 links-color">Forgot password? <a href="{%url 'password_reset'%}" class="fw-bold  links-color"><u>reset password</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}