{% extends "blogs/layout.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="space-bottom">
    <div class="container mx-auto col-md-6 form-class">
            <form  method="post">
                {% csrf_token %}
                <legend><h1>Reset password</h1></legend>
                <div class="form-input-section">
                    {{form|crispy}}
                </div>

                <div>
                <button type="submit">Request Password Reset</button>
                </div>
            </form>
    </div>
</div>
{% endblock %}