{% extends 'blogs/layout.html'%}
{%block content%}
{% load crispy_forms_tags%}
<div class="content-section auth-tag m-auto col-md-6" style="margin-top:30px ; padding-top:30px">
	<div class="media mx-auto" style="display:flex; flex-direction:column">
		<img class="rounded-circle account-img mx-auto" style="height:200px ;width:200px" src="{{user.profile.image.url}}">
		<div class="media-body mx-auto">
			<h2 class="account-heading text-center">{{user.username}}</h2>
			<p class="text-scondary">{{user.email}}</p>
			
		</div>
		
	</div>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token%}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Update Profile</legend>
				{{user_form|crispy}}
				{{profile_form|crispy}}
		</fieldset> 
	    <div class="form-group">
	     <button class="btn btn-outline-info mb-4" type="submit">update</button> 
	    </div>
   </form>
	
</div>
{% endblock %}