{%extends 'blogs/layout.html'%}
{%load crispy_forms_tags%}
{%block content%}
<section class="vh-60 bg-image">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-5">Register</h2>

              <form action="{%url 'register'%}" method="POST">
                  {% csrf_token%}
                  {{form|crispy}}

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center  mt-5 mb-0 links-color">Have already an account? <a href="{%url 'login'%}" class="fw-bold  links-color"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock content%}


