{%load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Think and {code}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2110687080692693" crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
     <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
     <script>hljs.highlightAll();</script>
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css'%}">
    <!-- Custom icon font-->
    <link rel="stylesheet" href="{% static 'core/css/fontastic.css'%}">
    <!-- Google fonts - Open Sans-->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> -->
    <!-- Fancybox-->
    <link rel="stylesheet" href="{% static 'core/vendor/@fancyapps/fancybox/jquery.fancybox.min.css'%}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'core/css/style.default.css'%}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'core/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/aboutpage.css'%}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
  </head>