{%extends 'blogs/layout.html'%}
{%load static%}
{%block content%}
<div>
    <section class="section-padding">
    {%include 'blogs/searchbar.html'%}
    </section>
  
    <!-- this is the section for the blogs that are made in a nice way -->
    <section class="" style="padding-top: 15px;"> 
      <div class="container mx-auto">
          <div class="main-grid">
            {%for post in page_obj%}
                <div class="card" style="margin-top: 20px;">
                    <a href="{%url 'post-detail' post.slug %}" class="links-color">
                        <img src="{{post.image.url}}" alt="" class=" mx-auto" style="object-fit: fill; width:100%; min-height:250px;margin-bottom:10px; max-height:300px">
                        <h4 style=" text-align:center">{{post.title}} ({{post.timestamp|date}})</h4>
                        <p class="description" style="padding: 10px; text-align:center">{{post.description}}</p>
                      </a>
                </div>
            {%empty%}
                    <h1>There are no lessons yet</h1>
            {%endfor%}
        </div>
      </div>
    </section>

    <!-- this is where all ends for the blogs  -->
  
        <div class="container mx-auto">
          <div class="col-md-6 mx-auto">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" style="font-weight: bold;font-size: 20px; margin-right: 10px;">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" style="font-weight: bold;font-size: 20px; margin-right: 10px;">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" style="font-weight: bold;font-size: 20px; margin-right: 10px;">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" style="font-weight: bold;font-size: 20px; margin-right: 10px;">last &raquo;</a>
                {% endif %}
            </span>
        </div>
      </div>    
    </div>
</div>
{%endblock content%}