{%extends 'blogs/layout.html'%}
{%block content%}
<div class="container mx-auto " >
    <div class="space-bottom">    
        <div class="blog lesson-style mx-auto">
            <p id="post-id">{{object.body|safe}}</p>
        </div> 
        <div class="space-bottom">
            <div class="lesson-style mx-auto">
                <img src="{{object.author.profile.image.url}}" alt="" style="width: 65px;height: 65px; border-radius: 50%; margin-bottom: 20px;">
                <p>Written by: {{object.author.username}}</p>
                <p>{{object.timestamp|date}}</p>
                {%if user.is_superuser%}
                    <a href="{%url 'post-delete' object.slug%}">Delete |</a>
                    <a href="{%url 'post-update' object.slug%}"  >Update</a>
                {%endif%}
            </div>
       </div>       
    </div>
</div>
{%endblock content%}
