{%load static%}
<footer>
    <section class="container">
        <div class="icon-section">
            <div class="icon">
                <a href="https://www.facebook.com/stacym.pizo.9/">
                     <img src="{%static "core/images/facebook.png"%}" alt="" srcset="">
                </a>
            </div>
            <div class="icon">
                <a href="https://www.instagram.com/mundiastacy/">
                     <img src="{%static "core/images/instagram.jpeg"%}" alt="" srcset="">
                </a>
            </div>
            <div class="icon">
                <a href="https://twitter.com/mundiapizo">
                  <img src="{%static "core/images/twitter.jpeg"%}" alt="" srcset="">
                </a>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/mundia-pizo-0921b6147/">
                  <img src="{%static "core/images/linkedin.jpg"%}" alt="" srcset="">
                </a>
            </div>
         </div> 
        <div class="copyright">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>
        </div>
    </section>
</footer>